<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/users/style.css' %}" />
  </head>
  <body>
    {% block content %} {% for project in project_list %}

    <h4>{{ project.name }} => {{ project.target_date_project }}</h4>
    <h5>// Historic :</h5>
    <p></p>
    <h6>
      <ul>
        {% for date in project.historic_target_date_project %}
        <li>{{ date }}</li>
        {% endfor %}
      </ul>
    </h6>
    <a href="{% url 'todolist:project_detail' project.pk %}">Detail</a>
    <a href="{% url 'todolist:project_update' project.slug %}">Update</a>
    <a href="{% url 'todolist:project_delete' project.slug %}">Delete</a>
    {% endfor %} {% endblock %}
  </body>
</html>
