<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/users/style.css' %}" />
  </head>
  <body>
    {% block content %}
    <h2>Your new project ???</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Save</button>
    </form>
    <h2>Your projects</h2>
    <ul>
      {% for project in projects %}
      <li>
       <h3>{{ project.name }}</h3>
      </li>
      {% endfor %}
    <!-- <a href="{% url 'todolist:projects_list' %}">Return</a> -->
    {% endblock content %}
  </body>
</html>
