<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/users/style.css' %}" />
  </head>
  <body>
    {% block content %}
    <h2>Your new task ???</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Save</button>
    </form>
    <h2>Your others tasks about this category && project</h2>
    <ul>
      {% for task in tasks %}
      <li>
       <h3>je veux recuper les taches ayant la même category et project que celle qui vient d'etre "submit"</h3>
      </li>
      {% endfor %}
    {% endblock content %}
  </body>
</html>
