<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/users/style.css' %}" />
  </head>
  <body>
    {% block content %}

    <h2>{{ task.name }}</h2>
    <h3>{{ task.done }}</h3>
    <h6>
      Target date : {{ task.target_date_task }}
      <p></p>
      // Historic :
      <ul>
        {% for date in task.historic_target_date_task %}
        <li>{{ date }}</li>
        {% endfor %}
      </ul>
    </h6>
    <a href="{% url 'todolist:task_list' %}">Return</a>
    {% endblock %}
  </body>
</html>
