<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/users/style.css' %}" />
  </head>
  <body>
    {% block content %}
    <h2>Your tasks calendar By category //</h2>

    <h2>in late !</h2>
    {% for category, tasks in category_late_tasks.items %}
      {% if tasks|length > 0 %}
          <h3>{{ category.name }}</h3>
          <ul>
            {% for task in tasks %}
                <li>
                    <td>
                      {% if task.done %}
                        <span class="done">✔️ Done</span>
                        <h3>- {{ task.name }}</h3>
                      {% else %}
                        <span class="not-done">❌ Not Done</span>
                        
                        <a href="{% url 'todolist:task_update' task.slug %}"><h3>- {{ task.name }}</h3></a>
                      {% endif %}
                    </td>
                    <h3>target_date : {{ task.target_date_task }}</h3>
                </li>
            {% endfor %}
          </ul>
      {% endif %}
    {% endfor %}

    <h2>Your buzz this week</h2>
    {% for category, tasks in category_week_tasks.items %}
      {% if tasks|length > 0 %}
          <h3>{{ category.name }}</h3>
          <ul>
            {% for task in tasks %}
                <li>
                    <td>
                      {% if task.done %}
                        <span class="done">✔️ Done</span>
                        <h3>- {{ task.name }}</h3>
                      {% else %}
                        <span class="not-done">❌ Not Done</span>
                        
                        <a href="{% url 'todolist:task_update' task.slug %}"><h3>- {{ task.name }}</h3></a>
                      {% endif %}
                    </td>
                    <h3>target_date : {{ task.target_date_task }}</h3>
                </li>
            {% endfor %}
          </ul>
      {% endif %}
    {% endfor %}

    <h2>and later ...</h2>
    {% for category, tasks in category_future_tasks.items %}
      {% if tasks|length > 0 %}
          <h3>{{ category.name }}</h3>
          <ul>
            {% for task in tasks %}
                <li>
                    <td>
                      {% if task.done %}
                        <span class="done">✔️ Done</span>
                        <h3>- {{ task.name }}</h3>
                      {% else %}
                        <span class="not-done">❌ Not Done</span>
                        
                        <a href="{% url 'todolist:task_update' task.slug %}"><h3>- {{ task.name }}</h3></a>
                      {% endif %}
                    </td>
                    <h3>target_date : {{ task.target_date_task }}</h3>
                </li>
            {% endfor %}
          </ul>
      {% endif %}
    {% endfor %}
  {% endblock content %}
  </body>
</html>
