<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/users/style.css' %}" />
  </head>
  <body>
    <h1>Hello World !!!</h1>
    {% if user.is_authenticated %}
    <p>Bienvenue, {{ user.username }} !</p>
    <a href="{% url 'logout' %}">Se déconnecter</a>
    {% else %}
    <p>Personne n'est connecté.</p>
    <a href="{% url 'login' %}">Se connecter</a>
    {% endif %} {% block content %} {% endblock %}
  </body>
</html>
